.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}
.feature .wrapper {

}
.feature .wrapper.toggle-theme {

}
.feature .wrapper.toggle-language {
    position: relative;
}
.feature .wrapper .language-wrapper {
    position: relative;
    display: inline-block;
}
.feature .wrapper .language-indicator {
    position: absolute;
    min-width: 16px;
    bottom: -2px;
    right: -2px;
    padding: 2px 4px;
    border-radius: 3px;
    text-align: center;
    line-height: 1;
    color: white;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(10, 95, 255);
}
.feature .wrapper.account {
    position: relative;
}
.feature .wrapper .icon {
    cursor: pointer;
    font-size: 26px;
}
.feature .wrapper .language-dropdown {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 80px;
    top: 78px;
    left: -50px;
    right: 0;
    background: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
}
.feature .wrapper .language-dropdown .language-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 6px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.feature .wrapper .account-dropdown {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 140px;
    height: 80px;
    top: 78px;
    left: -95px;
    right: 0;
    cursor: pointer;
    background: rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
}
.feature .wrapper .account-dropdown .account-option {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0px 0px 0px 10px;
    gap: 6px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.feature .wrapper .account-dropdown .account-option .icon {
    width: 22px;
    height: 22px;
}
.feature .wrapper .account-dropdown .account-option:nth-child(1):hover .icon {
    color: rgb(0, 170, 0);
}
.feature .wrapper .account-dropdown .account-option:nth-child(1):hover p {
    color: rgb(0, 170, 0);
}
.feature .wrapper .account-dropdown .account-option:nth-child(2):hover .icon {
    color: rgb(235, 0, 0);
}
.feature .wrapper .account-dropdown .account-option:nth-child(2):hover p {
    color: rgb(235, 0, 0);
}